APPLICATION_NAME=HOSTELBOOKING

SPRING_APPLICATION_NAME=HOSTELBOOKING

# Database Configuration
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_REFRESH_EXPIRATION=
JWT_EXPIRATION=


VAPID_SUBJECT=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

HOSTEL_SWEEPER_RATE=


# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Email Configuration
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=465
MAIL_SMTP_STARTTLS_ENABLED=false
MAIL_SMTP_STARTTLS_REQUIRED=false
MAIL_SMTP_SSL_ENABLED=true
MAIL_SMTP_SSL_PROTOCOLS=TLSv1.2
MAIL_TEST_CONNECTION=false

# Frontend Configuration
FRONTEND_BASE_URL=

BACKEND_BASE_URL=

# Database Configuration for Docker Compose
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Server Configuration
SERVER_PORT=8080

SERVER_FORWARD_HEADERS_STRATEGY=native

# Development Configuration
SPRING_PROFILES_ACTIVE=

SERVER_CONTEXT_PATH=/

COOKIE_SECURE=
COOKIE_SAME_SITE=
COOKIE_DOMAIN=
COOKIE_MAX_AGE=
COOKIE_PATH=
COOKIE_HTTP_ONLY=true
